h1, p {
  font-family: Lato;
}
body{
  background:rgba(230, 217, 217, 0.685);
}
input{
  outline:none;
  border:none;
  height: 20px;
  margin-right: 5px;
  border-radius: 5px;
  padding:5px;
}
button{
  outline:none;
  border:none;
background: #fff;
border-radius: 5px;
padding: 8px;

}
